# OS
.DS_Store
.AppleDouble
.LSOverride
Icon?
Thumbs.db

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Test & coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml

# Build artifacts
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Tooling caches
.mypy_cache/
.ruff_cache/
.pdm-build/
.tox/
.cache/

# Editors/IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log
